<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Please Enter your login credentials</h5>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">User ID</label>
                          <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
                </form>
                <a style="color:aliceblue;margin-top:10px" routerLink="/signup">New User? Go to SignUp</a>
            </div>
        </div>
    </div>
</div>
